/****** Main Styling ******/

body {
	background: aliceblue;
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.user-stories {
  margin: 15px auto;
  max-width: 700px;
  position: relative;
  text-align: justify;
}

code {
  background-color: #fff;
  color: black;
  font-family: monospace;
  padding: 2px;
}

ol {
	list-style-position: outside;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}

button {
  background: royalblue;
  border: 1px solid royalblue;
  border-radius: 2px; 
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}